###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ibraryA/
[Ll]ibraryW/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
[Pp]hoton/
[Bb]akeryLightmaps/
AndroidBuilds/
WindowsBuilds/
MacBuilds/
.vs/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta
# pun voice Files above 100 mb
libwebrtc-audio.a
# bakery files over 100 mb
cudnn64_7.dll
###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
G-Test/Assets/Editor/x64/Bakery/.uvgblog.txt